
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sale | Login</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/lib/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/lib/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- SweetAlert2 -->
    @*<link rel="stylesheet" href="~/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">*@
    <!-- Toastr -->
    <link rel="stylesheet" href="~/lib/plugins/toastr/toastr.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/lib/admin-lte/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="~/css/googleapis.css" rel="stylesheet">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/Login"><b>Sale</b>System</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">¿Olvidó su contraseña? Aquí fácilmente puedes obtener una nueva.</p>

                <form action="recover-password.html" method="post">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Solicitar Nueva Contraseña</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <p class="mt-3 mb-1">
                    <a href="/Login">Login</a>
                </p>
                <p class="mb-0">
                    <a href="/Login/Registrar" class="text-center">Registrar una cuenta</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.register-box -->
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/lib/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/lib/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/lib/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="~/lib/plugins/toastr/toastr.min.js"></script>

    <script src="~/lib/admin-lte/js/adminlte.min.js"></script>

</body>
</html>
<script>
    $(document).ready(() => {
        $("form").submit(function (e) {
            var data = {
                user: $('#user').val(),
                pass: $('#pass').val()
            };

            $.ajax({
                async: false,
                type: 'POST',
                url: '/Login/validar',
                data: data,
                success: (resultData) => {
                    var result = JSON.parse(resultData);
                    if (result.length == 0) {
                        e.preventDefault();
                        toastr.options = {
                            closeButton: true,
                            progressBar: true,
                            preventDuplicates: true,
                            showDuration: 300,
                            hideDuration: 1000,
                            timeOut: 3000,
                            extendedTimeOut: 500,
                            showEasing: "swing",
                            hideEasing: "linear",
                            showMethod: "fadeIn",
                            hideMethod: "fadeOut"
                        }
                        toastr.error('Usuario o contraseña incorrectos');
                    } else {
                        console.log(result);
                        $('[name="id"]').val(result.id);
                    }
                }
            });
        });
    });
</script>